body,html {
    height: 100%;
}

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

.auto-min-height{
    min-height: calc(100% - 80px);
}
.form-signin {
    width: 100%;
    max-width: 480px;
    padding: 15px;
    margin: auto;
}

.nav-tab{
    border: 5px #afc9ee!important;

}
tabs .nav-link.active {
    background-color: #8ed3e3!important;
    margin-right: 10px!important;
 }


.rounded-5 {
    border-radius: 1rem!important;
    border-color: white!important;
}
.bg-dark {
    background-color: #212529!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.display-7 {
    font-size: 2rem;
}

.h-20 {
    height: 20%!important;
}

.h-10 {
    height: 10%!important;
}

.rounded-right-5{
    border-bottom-right-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
    border-color: white!important;
}
#image-selector{
    cursor: move;
}



.nav-profile{
    padding: unset!important;
}
.bg-blue-gradient{
    background: linear-gradient(#7bacd2,#427fbf);
}
.bg-blue{
    background:#7bacd2 ;
}
.bg-blue-dark{
    background:#427fbf ;
}
.nav-link{
    transition-duration: 0.4s;
}

.p-05{
    padding: .125rem!important;
}
.nav-link:hover {
    background: linear-gradient(#85b8e0, #478ad0);
    color: white;
}
.logo{
    font-size: 2.2rem!important;
    padding: 0px!important;
    font-weight:bold;
    background: -webkit-linear-gradient(#fff900, #3489de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #1f1f1f;
}

.logo-b{
    font-size: 4rem;
    font-weight:bold;
    background: -webkit-linear-gradient(#fff900, #3489de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #0e1f2b;
}

.ct-dialog{
    width: 500px!important;
    margin-left: -250px!important;
}
.ct-widget .ct-dialog__body{
    width: 472px!important;
}
.ct-grip{
    display: none!important;
}

.ct-toolbox{
    top:0px!important;
    left: 0px!important;
    width: 100%!important;
    height: auto!important;
}

.ct-tool-group{
    width: 300px!important;
    display: inline!important;
}

.ct-widget .ct-tool-group:after{
    display: inline!important;
}

.ct-widget{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}
.ct-widget.ct-ignition {
    top: unset!important;
    bottom: 80px!important;
    left: 50%!important;
    transform: translate(-50%, 0);
}

.ct-toolbox{
    left: 50%!important;
    transform: translate(-50%, 0);
    top: 7px!important;
}

.ct-inspector{
    left: 50%!important;
    transform: translate(-50%, 0);
}

.ct-modal{
    max-width: 100%!important;
}
