
body, html {
    height: 100%;
}

.auto-min-height {
    min-height: calc(100% - 80px);
}

.form-signin {
    width: 100%;
    max-width: 480px;
    padding: 15px;
    margin: auto;
}

.nav-tab {
    border: 5px #afc9ee !important;

}

tabs .nav-link.active {
    background-color: #8ed3e3 !important;
    margin-right: 10px !important;
}

.nav-avatar {
    width: 50px;
    height: 50px;
}

.rounded-5 {
    border-radius: 1rem !important;
    border-color: white !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.display-7 {
    font-size: 2rem;
}

.h-20 {
    height: 20% !important;
}

.h-10 {
    height: 10% !important;
}

.rounded-right-5 {
    border-bottom-right-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-color: white !important;
}

#image-selector {
    cursor: move;
}

.nav-profile {
    padding: unset !important;
}

.bg-blue-gradient {
    background: linear-gradient(#7bacd2, #427fbf);
}

.bg-blue {
    background: #7bacd2;
}

.bg-blue-dark {
    background: #427fbf;
}

.nav-link {
    transition-duration: 0.4s;
}

.p-05 {
    padding: .125rem !important;
}

.nav-link:hover {
    background: linear-gradient(#85b8e0, #478ad0);
    color: white;
}

.logo {
    font-size: 2.2rem !important;
    padding: 0px !important;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff900, #3489de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #1f1f1f;
}

.logo-b {
    font-size: 4rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff900, #3489de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #0e1f2b;
}

.author-avatar {
    width: 70px;
    height: 70px;
}
.filter-green{
    filter: invert(100%) sepia(100%) saturate(7%) hue-rotate(201deg) brightness(104%) contrast(102%);
    height: 25px;
    width: 25px;
    position: absolute;
    display: block;
    left: 25%;
    top: 25%;
}